
<!DOCTYPE html>
<html lang="en">
  <head>
<% include ../views/links_d.ejs %>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="\bootstrap-3.3.7-dist\css\autocomplete.css">
  </head>
  
  <style>

body {
    font-size: 12px;
}

table {
    background: #EAEAEA;
    overflow-x: scroll;
}

thead tr {
    display: block;
    width: 100%;
}
th.mediumw, th.smallw, th.largew, td { 
	min-width: 50px !important;
    padding-bottom: 0px !important;
	 padding-top: 0px !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
	
 }

td {
	background: 	#f7f7f7;
	border : 1px solid 		#f7f7f7;
}
th {
	background : 	#3b5998;
	color: white;
	border: 0px !important
}
 
.rec>thead>tr {
	margin-top: 10px;
}

tbody {
  
    height: 500px;
    overflow-y: auto;

    display: block;
}

.adj {
    overflow-x: auto;
    width: 99%;

}

.grpTextBox {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	margin-top: 5px;
		
margin-bottom: 5px;
    
}
.highlight_row td {
            background-color:#8b9dc3; 
        }


		
input:focus, select:focus { 
    background-color: rgb(255, 255, 128);
	color: black;
	border: 1px solid black;
	
}

.savebtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.savebtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color:#c62d1f;
}
.savebtn:active {
	position:relative;
	top:1px;
}

.updatebtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.updatebtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.updatebtn:active {
	position:relative;
	top:1px;
}

.fit {
    padding-right: 0px;
    padding-left: 0px;
}

.smallw {
 width:50px !important;
}
.mediumw {
 width:80px !important;
}
.largew {
 width:180px !important;
}
.smallt {
 width:63px !important;
 text-align: center;
}
.mediumt {
 width:93px !important;
 text-align: center;
}
.larget {
 width:193px !important;
 text-align: center;
}

hr.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
	width: 99%;
}
  </style>

  <body class="main-menu">
	
    <% include ../views/header_d.ejs %>

    <div class="container-fluid wrapper">
		
		<span class="pull-right">
		<button class="btn btn-danger" style="display:inline-block;" onclick="members()"> Members</button>
		<button class="btn btn-warning" style="display:inline-block;" onclick="households()"> Households</button>
		</span>
		
		<h3 id="title"> </h3> 
		
		<hr class="hr">
		
		<div class="col-md-2">	
		<h4>EACODE : <label id='eacode'></label>
		</div>
		<div class="col-md-2">	
		<h4>HCN : <label id='hcn'></label>
		</div>
		<div class="col-md-2">	
		<h4>SHSN : <label id='shsn'></label>
		</div>
		<div class="col-md-3">	  
		<h4>MEMBER : <label>  <%= rows2[0].MEMBER_CODE%>- <%=rows2[0].GIVENNAME%> <%=rows2[0].SURNAME%> </label>
		</div>
		<div class="col-md-2">	
		<h4>AGE : <label>  <%= rows2[0].AGE%></label>
		</div>

		<div class="row">
		
		<div class="col-md-3">
				
		<h1>RECALL DAY : <label id='recday'></label></h1>
		
		</div>
		
		<div class="col-md-2">	

		Reference Day :  <select class="form-control f60" name ="refday" id="refday">
			<option value='' >Select Reference Day</option>
			<option value='1' >1 - Sunday</option>
			<option value='2' >2 - Monday</option>
			<option value='3' >3 - Tuesday</option>
			<option value='4' >4 - Wednesday</option>
			<option value='5' >5 - Thursday</option>
			<option value='6' >6 - Friday</option>
			<option value='7' >7 - Saturday</option>
			  </select>
		</div>
		<div class="col-md-3">	
		Reference Date : 
			<div class="row">
			<div class="col-md-3 fit">	
			<select class="form-control f60" name ="monthref" id="monthref">
				<option value='' >Month</option>
				<option value='1' >1 - January</option>
				<option value='2' >2 - February</option>
				<option value='3' >3 - March</option>
				<option value='4' >4 - April</option>
				<option value='5' >5 - May</option>
				<option value='6' >6 - June</option>
				<option value='7' >7 - July</option>
				<option value='8' >8 - August</option>
				<option value='9' >9 - September</option>
				<option value='10' >10 - October</option>
				<option value='11' >11 - November</option>
				<option value='12' >12 - December</option>
			</select>	
			</div> 
			<div class="col-md-2 fit">	
			<select class="form-control f60" name ="dayref" id="dayref">
				<option value='' >Day</option>
				<option value='1' >1</option>
				<option value='2' >2</option>
				<option value='3' >3</option>
				<option value='4' >4</option>
				<option value='5' >5</option>
				<option value='6' >6</option>
				<option value='7' >7</option>
				<option value='8' >8</option>
				<option value='9' >9</option>
				<option value='10' >10</option>
				<option value='11' >11</option>
				<option value='12' >12</option>
				<option value='13' >13</option>
				<option value='14' >14</option>
				<option value='15' >15</option>
				<option value='16' >16</option>
				<option value='17' >17</option>
				<option value='18' >18</option>
				<option value='19' >19</option>
				<option value='20' >20</option>
				<option value='21' >21</option>
				<option value='22' >22</option>
				<option value='23' >23</option>
				<option value='24' >24</option>
				<option value='25' >25</option>
				<option value='26' >26</option>
				<option value='27' >27</option>
				<option value='28' >28</option>
				<option value='29' >29</option>
				<option value='30' >30</option>
				<option value='31' >31</option>
			</select>
			</div> 
			<div class="col-md-2 fit">	
			<select class="form-control f60" name ="yearref" id="yearref">
				<option value='' >Year</option>
				<option value='2017' >2017</option>
				<option value='2018' >2018</option>
				<option value='2019' >2019</option>
				<option value='2020' >2020</option>
				<option value='2021' >2021</option>
				<option value='2022' >2022</option>
				<option value='2023' >2023</option>
				<option value='2024' >2024</option>
				<option value='2025' >2025</option>
				<option value='2026' >2026</option>
				<option value='2027' >2027</option>
				<option value='2028' >2028</option>
				<option value='2029' >2029</option>
				<option value='2030' >2030</option>
				<option value='2031' >2031</option>
				<option value='2032' >2032</option>
				<option value='2033' >2033</option>
				<option value='2034' >2034</option>
				<option value='2035' >2035</option>
				<option value='2036' >2036</option>
				<option value='2037' >2037</option>
				<option value='2038' >2038</option>
				<option value='2039' >2039</option>
				<option value='2040' >2040</option>
				<option value='2041' >2041</option>
				<option value='2042' >2042</option>
				<option value='2043' >2043</option>
				<option value='2044' >2044</option>
				<option value='2045' >2045</option>
				<option value='2046' >2046</option>
				<option value='2047' >2047</option>
				<option value='2048' >2048</option>
				<option value='2049' >2049</option>
				<option value='2050' >2050</option>
			</select>
			</div> 
			</div> 
		</div>
		<div class="col-md-2">	
		Interview Status : <select class="form-control f60" name="status" id="status" />
			<option value=''>Select Interview status / Start Interview</option>
				<optgroup label="Covered"><option value='1'>1 - Completed Interview</option>
				<option value='2'>2 - Partly Completed</option>
				</optgroup>
				<optgroup label="Not Covered">
				<option value='3'>3 - Refused</option>
				<option value='4'>4 - No Household Member at Home or no Competent Respondent on Home</option>
				<option value='5'>5 - Entire Household Absent for Extended Period of Time</option>
				<option value='6'>6 - Vacant Housing Unit</option>
				<option value='7'>7 - Housing Unit Destroyed/Demolished</option>
				<option value='8'>8 - Address not a Housing Unit</option>
				<option value='9'>9 - Housing Unit not Found</option>
				<option value='10'>10 - Critical/Flooded Area</option>
				<option value='11'>11 - Postponed</option>
				<option value='12'>12 - Others</option>
				</optgroup>
			  </select>
		</div>
		
		
		</div>
		<div class="adj">
		<table class="table table-striped" id="rec">
			<thead class="fixedHeader">
				<tr>
            <th class="smallt">LNO</th>
			 <th class="larget">FOOD ITEM</th>
             <th class="larget">DESC</th>
             <th class="mediumt">BRAND</th>
             <th class="mediumt">MAIN INGRE<br>DIENT</th>
             <th class="mediumt">BRAND CODE</th>
			 <th class="smallt">FVS</th>
             <th class="smallt">FF</th>
             <th class="smallt">VITA</th>
             <th class="smallt">IRON</th>
             <th class="mediumt">OTH</th>
             <th class="mediumt">MEALCD</th>
             <th class="mediumt">RFCODE</th>
			 <th class="mediumt">FOODEX</th>
             <th class="larget">FIC</th> <!--FOODCODE-->
             <th class="mediumt">FOOD WGT</th>
             <th class="mediumt">RCC</th>
             <th class="mediumt">CMC</th>
			 <th class="mediumt">SUP </th>
             <th class="mediumt">SRC </th>
			 <th class="mediumt">OTH<br>SRC </th>
			 <th class="mediumt">CPC</th>
             <th class="mediumt">UNIT COST</th>
             <th class="smallt">UNIT WGT</th>
             <th class="smallt">MEAS</th>
			 <th class="smallt">ACTION</th>
				</tr>
				
			 
			</thead>
			<tbody class="scrollContent">
				
				<tr>
					<td><input type="text" class="form-control newval smallw" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="LINENO_" id="LINENO_" value="" /></td>
					<td><input type="text" class="form-control newval largew" name="FOODITEM_" id="FOODITEM_" value=""/></td>
					<td><input type="text" class="form-control newval largew" name="FOODDESC_" id="FOODDESC_" value=""/></td>
					<td><input type="text" class="form-control newval mediumw" name="FOODBRND_" id="FOODBRND_" value=""/></td>
					<td><input type="text" class="form-control newval mediumw" name="FOODMAINING%_" id="FOODMAINING_" value=""/></td>
					<td><input type="text" class="form-control newval mediumw" name="FOODBRNDCD_" id="FOODBRNDCD_" value=""/></td>
					<td><input type="text" class="form-control newval smallw" name="FVS_" id="FVS_" value="" /></td>
					<td><input type="text" class="form-control newval smallw" name="ISFORTIFIED_" id="ISFORTIFIED_" value="" /></td>
					<td><input type="text" class="form-control newval smallw" name="VITA_" id="VITA_" value="" /></td>
					<td><input type="text" class="form-control newval smallw" name="IRON_" id="IRON_" value="" /></td>
					<td><input type="text" class="form-control newval mediumw" name="OTHF_" id="OTHF_" value="" /></td>
					<td>
						<select  class="form-control newval mediumw" name="MEALCD_" id="MEALCD_" />
							<option value="1">1 - Breakfast</option>
							<option value="2">2 - AM Snack </option>
							<option value="3">3 - Lunch </option>
							<option value="4">4 - PM Snack </option>
							<option value="5">5 - Supper </option>
							<option value="6">6 - Late PM Snack </option>
						</select>
					</td>
					<td>
						<select  class="form-control newval mediumw"  name="RFCODE_" id="RFCODE_" />
							<option value="1">1 - Single Food Item</option>
							<option value="2">2 - Mixed Dish</option>
							<option value="3">3 - Composite Ingridient</option>
						</select>
					</td>
					<td><input type="text" class="form-control newval mediumw" name="FOODEX_" id="FOODEX_" value=""  ></td>
					<td><input type="text" class="form-control newval ficauto largew" autocomplete="off" placeholder="Type area keyword..." name="FOODCODE_" id="FOODCODE_" value=""  >
					</td>
					<td><input type="text" class="form-control newval mediumw" name="FOODWEIGHT_" id="FOODWEIGHT_"value="" /></td>
					<td>
						<select  class="form-control newval mediumw"  name="RCC_" id="RCC_" value="" />
							<option value="1">1 - Raw as purchased</option>
							<option value="2">2 - Raw edible portion </option>
							<option value="3">3 - Cooked as purchased </option>
							<option value="4">4 - Cooked edible portion </option>
							<option value="5">5 - Cleaned and Drawn fresh fish </option>
							<option value="6">6 - Cleaned and Drawn cooked fish </option>
							<option value="-"> - </option>
						</select>
					</td>
					<td>
						<select class="form-control newval mediumw"  name="CMC_" id="CMC_">
							<option value="1">1 - Boiled</option>
							<option value="2">2 - Fried</option>
							<option value="3">3 - Sauteed</option>
							<option value="4">4 - Broiled</option>
							<option value="5">5 - Scambled</option>
							<option value="6">6 - Raw</option>
							<option value="-"> - </option>
						</select>
					</td>
					<td>
						<select class="form-control newval mediumw"  name="SUPCODE_" id="SUPCODE_" value="" />
							<option value="1">1 - Bought</option>
							<option value="2">2 - Barter</option>
							<option value="3">3 - Given</option>
							<option value="4">4 - Own Produced</option>
							<option value="9">9 - NA </option>
							<option value="-"> - </option>
						</select>
					</td>
					<td>
						<select  class="form-control newval mediumw"  name="SRCCODE_" id="SRCCODE_" value="" />
							<option value="1">1 - Fastfood</option>
							<option value="2">2 - Carinderia / Turo-turo</option>
							<option value="3">3 - Canteen/Cafeteria</option>
							<option value="4">4 - Restaurant</option>
							<option value="5">5 - Market / Talipapa</option>
							<option value="6">6 - Sari-sari Store</option>
							<option value="7">7 - Supermarket</option>
							<option value="8">8 - Grocery</option>
							<option value="9">9 - Convenience Store</option>
							<option value="10">10 - Mobile Vendor</option>
							<option value="11">11 - Specialty Store</option>
							<option value="12">12 - Home prepared</option>
							<option value="13">13 - Food Aid</option>
							<option value="14">14 - Homeyard garden, livestock, fishpen</option>
							<option value="15">15 - Farm garden, farmstock, fishpen</option>
							<option value="16">16 - Water from deepwell, rainfall and spring</option>
							<option value="17">17 - Water from waterworks like NAWASA and Maynilad</option>
							<option value="18">18 - Pharmacy / Clinic</option>
							<option value="19">19 - Others, specify</option>
							<option value="-"> - </option>
						</select>
					</td>
					<td><input type="text" class="form-control newval mediumw"  name="OTH_SRC_" id="OTH_SRC_" value="" /></td>
					<td>
						<select class="form-control newval  mediumw"  name="CPC_" id="CPC_" value="" />
							<option value="1">1 - Raw as purchased</option>
							<option value="2">2 - Raw edible portion </option>
							<option value="3">3 - Cooked as purchased </option>
							<option value="4">4 - Cooked edible portion </option>
							<option value="5">5 - Cleaned and Drawn fresh fish </option>
							<option value="6">6 - Cleaned and Drawn cooked fish </option>
							<option value="-"> - </option>
						</select>
					</td>
					
					<td><input type="text" class="form-control newval  mediumw"  name="UNITCOST_" id="UNITCOST_" value="" /></td>
					<td><input type="text" class="form-control newval  smallw"  name="UNITWGT_" id="UNITWGT_"  value=""></td>
					<td><input type="text" class="form-control newval  smallw"  name="UNITMEAS_" id="UNITMEAS_" value="" /></td>
					<td><button class="savebtn smallw grpTextBox" id="savefoodrecall">
					Save </button>
					</td>

				</tr>
				
				<% rows.forEach(function(row){
				
				var addon = row.eacode+row.hcn+row.shsn+row.MEMBER_CODE+row.RECDAY+"_"+row.LINENO;
				%>
				<tr>
					<td><input type="text" class="form-control grpTextBox smallw" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="LINENO_<%= addon%>" id="LINENO_<%= addon%>" value="<%= row.LINENO%>" /></td>
					<td><input type="text" class="form-control grpTextBox largew" name="FOODITEM_<%= addon%>" id="FOODITEM_<%= addon%>" value="<%= row.FOODITEM%>"/></td>
					<td><input type="text" class="form-control grpTextBox largew" name="FOODDESC_<%= addon%>" id="FOODDESC_<%= addon%>" value="<%= row.FOODDESC%>"/></td>
					<td><input type="text" class="form-control grpTextBox mediumw" name="FOODBRND_<%= addon%>" id="FOODBRND_<%= addon%>" value="<%= row.FOODBRND%>"/></td>
					<td><input type="text" class="form-control grpTextBox mediumw" name="FOODMAINING_<%= addon%>" id="FOODMAINING_<%= addon%>" value="<%= row.FOODMAINING%>"/></td>
					<td><input type="text" class="form-control grpTextBox mediumw" name="FOODBRNDCD_<%= addon%>" id="FOODBRNDCD_<%= addon%>" value="<%= row.FOODBRNDCD%>"/></td>
					<td><input type="text" class="form-control grpTextBox smallw" name="FVS_<%= addon%>" id="FVS_<%= addon%>" value="<%= row.FVS%>" /></td>
					<td><input type="text" class="form-control grpTextBox smallw" name="ISFORTIFIED_<%= addon%>" id="ISFORTIFIED_<%= addon%>" value="<%= row.ISFORTIFIED%>" /></td>
					<td><input type="text" class="form-control grpTextBox smallw" name="VITA_<%= addon%>" id="VITA_<%= addon%>" value="<%= row.VITA%>" /></td>
					<td><input type="text" class="form-control grpTextBox smallw" name="IRON_<%= addon%>" id="IRON_<%= addon%>" value="<%= row.IRON%>" /></td>
					<td><input type="text" class="form-control grpTextBox mediumw" name="OTHF_<%= addon%>" id="OTHF_<%= addon%>" value="<%= row.OTHF%>" /></td>
					<td>
						<select  class="form-control grpTextBox mediumw" name="MEALCD_<%= addon%>" id="MEALCD_<%= addon%>" />
							<option value="1">1 - Breakfast</option>
							<option value="2">2 - AM Snack </option>
							<option value="3">3 - Lunch </option>
							<option value="4">4 - PM Snack </option>
							<option value="5">5 - Supper </option>
							<option value="6">6 - Late PM Snack </option>
						</select>
					</td>
					<td>
						<select  class="form-control grpTextBox mediumw"  name="RFCODE_<%= addon%>" id="RFCODE_<%= addon%>" />
							<option value="1">1 - Single Food Item</option>
							<option value="2">2 - Mixed Dish</option>
							<option value="3">3 - Composite Ingridient</option>
						</select>
					</td>
					<td><input type="text" class="form-control grpTextBox mediumw" name="FOODEX_<%= addon%>" id="FOODEX_<%= addon%>" value="<%= row.FOODEX%>"  ></td>
					<td><input type="text" class="form-control grpTextBox ficauto largew" autocomplete="off" placeholder="Type area keyword..." name="FOODCODE_<%= addon%>" id="FOODCODE_<%= addon%>" value="<%= row.FOODCODE%>"  >
					</td>
					<td><input type="text" class="form-control grpTextBox mediumw" name="FOODWEIGHT_<%= addon%>" id="FOODWEIGHT_<%= addon%>" value="<%= row.FOODWEIGHT%>" /></td>
					<td>
						<select  class="form-control grpTextBox mediumw"  name="RCC_<%= addon%>" id="RCC_<%= addon%>" />
							<option value="1">1 - Raw as purchased</option>
							<option value="2">2 - Raw edible portion </option>
							<option value="3">3 - Cooked as purchased </option>
							<option value="4">4 - Cooked edible portion </option>
							<option value="5">5 - Cleaned and Drawn fresh fish </option>
							<option value="6">6 - Cleaned and Drawn cooked fish </option>
							<option value="-"> - </option>
						</select>
					</td>
					<td>
						<select class="form-control grpTextBox mediumw"  name="CMC_<%= addon%>" id="CMC_<%= addon%>">
							<option value="1">1 - Boiled</option>
							<option value="2">2 - Fried</option>
							<option value="3">3 - Sauteed</option>
							<option value="4">4 - Broiled</option>
							<option value="5">5 - Scambled</option>
							<option value="6">6 - Raw</option>
							<option value="-"> - </option>
						</select>
					</td>
					<td>
						<select class="form-control grpTextBox mediumw"  name="SUPCODE_<%= addon%>" id="SUPCODE_<%= addon%>" value="<%= row.LINENO%>" />
							<option value="1">1 - Bought</option>
							<option value="2">2 - Barter</option>
							<option value="3">3 - Given</option>
							<option value="4">4 - Own Produced</option>
							<option value="9">9 - NA </option>
							<option value="-"> - </option>
						</select>
					</td>
					<td>
						<select  class="form-control grpTextBox mediumw"  name="SRCCODE_<%= addon%>" id="SRCCODE_<%= addon%>" value="<%= row.LINENO%>" />
							<option value="1">1 - Fastfood</option>
							<option value="2">2 - Carinderia / Turo-turo</option>
							<option value="3">3 - Canteen/Cafeteria</option>
							<option value="4">4 - Restaurant</option>
							<option value="5">5 - Market / Talipapa</option>
							<option value="6">6 - Sari-sari Store</option>
							<option value="7">7 - Supermarket</option>
							<option value="8">8 - Grocery</option>
							<option value="9">9 - Convenience Store</option>
							<option value="10">10 - Mobile Vendor</option>
							<option value="11">11 - Specialty Store</option>
							<option value="12">12 - Home prepared</option>
							<option value="13">13 - Food Aid</option>
							<option value="14">14 - Homeyard garden, livestock, fishpen</option>
							<option value="15">15 - Farm garden, farmstock, fishpen</option>
							<option value="16">16 - Water from deepwell, rainfall and spring</option>
							<option value="17">17 - Water from waterworks like NAWASA and Maynilad</option>
							<option value="18">18 - Pharmacy / Clinic</option>
							<option value="19">19 - Others, specify</option>
							<option value="-"> - </option>
						</select>
					</td>
					<td><input type="text" class="form-control grpTextBox mediumw"  name="OTH_SRC_<%= addon%>" id="OTH_SRC_<%= addon%>" value="<%= row.OTH_SRC%>" /></td>
					<td>
						<select class="form-control grpTextBox  mediumw"  name="CPC_<%= addon%>" id="CPC_<%= addon%>" value="<%= row.LINENO%>" />
							<option value="1">1 - Raw as purchased</option>
							<option value="2">2 - Raw edible portion </option>
							<option value="3">3 - Cooked as purchased </option>
							<option value="4">4 - Cooked edible portion </option>
							<option value="5">5 - Cleaned and Drawn fresh fish </option>
							<option value="6">6 - Cleaned and Drawn cooked fish </option>
							<option value="-"> - </option>
						</select>
					</td>
					
					<td><input type="text" class="form-control grpTextBox  mediumw"  name="UNITCOST_<%= addon%>" id="UNITCOST_<%= addon%>" value="<%= row.UNITCOST%>" /></td>
					<td><input type="text" class="form-control grpTextBox  smallw"  name="UNITWGT_<%= addon%>" id="UNITWGT_<%= addon%>"  value="<%= row.UNITWGT%>"></td>
					<td><input type="text" class="form-control grpTextBox  smallw"  name="UNITMEAS_<%= addon%>" id="UNITMEAS_<%= addon%>" value="<%= row.UNITMEAS%>" /></td>
					<td> <button class="updatebtn mediumw grpTextBox" id="updatefoodrecord" onclick="update('<%= addon%>')">
					Update </button>
					</td >
					<input type="hidden"  name="id_<%= addon%>" id="id_<%= addon%>" value="<%= row.id%>" />

				</tr>
				<% });%>
			</tbody>
		</table>
		</div>
		

    </div>
  
  

  <div class="container">
    <% include ../views/footer.ejs %>
  </div><!-- /container -->
  
  <script src="/jquery/jquery-ui.min.js"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
	
	$(document).ready(function (){
	
	var url = window.location.href;
    var urlArray = url.split("/");
    var bigIdString = urlArray[urlArray.length-2];
	var recday = urlArray[urlArray.length-1];
    var A = bigIdString.substring(0,12);
    var B = bigIdString.substring(12,16);
    var C = bigIdString.substring(16,20);
	var D = bigIdString.substring(20,22);
	var E = recday;
	
	var data= {};
    
    data.eacode = A;
    data.hcn = B;
    data.shsn = C;
	data.MEMBER_CODE = D;
	data.RECDAY = E;
	
	$('#eacode').text(A);
	$('#hcn').text(B);
	$('#shsn').text(C);
	$('#MEMBER_CODE').text(D);
	$('#recday').text(E);
	
	$("html").bind("keypress", function(e) {
          if(e.keyCode == 13) {
            return false;
			}
			if (event.keyCode === 39 || event.keyCode === 34 || event.keyCode === 96 ) { // apostrophe, double quote, tilde
        // prevent the keypress
        return false;
    }
      });
	  
	$('#LINENO_').focus()
    $('#LINENO_').select()
	
		$.ajax({
                type: 'POST',
                //dataType: 'json',
                data: JSON.stringify(data),
                    contentType: 'application/json',
                            url: '/foodrecall',						
                            success: function(data) {
						
							<!-- var input = JSON.parse(JSON.stringify(data)); -->
                               <!-- Object.keys(input).forEach(function(key) { -->
                               <!-- var val = input[key]; -->
                               <!-- var view = "data."+key+" = $('#"+key+"_').val()"; -->
                               <!-- console.log(view); -->

                             
                                <!-- }); -->
							
							console.log(data.length);
								
							for(var i=0;i<data.length;i++)
                                { 
								$('[name=MEALCD_'+data[i].eacode+data[i].hcn+data[i].shsn+data[i].MEMBER_CODE+data[i].RECDAY+'_'+data[i].LINENO+']').val(data[i].MEALCD);
								$('[name=RFCODE_'+data[i].eacode+data[i].hcn+data[i].shsn+data[i].MEMBER_CODE+data[i].RECDAY+'_'+data[i].LINENO+']').val(data[i].RFCODE);
								$('[name=RCC_'+data[i].eacode+data[i].hcn+data[i].shsn+data[i].MEMBER_CODE+data[i].RECDAY+'_'+data[i].LINENO+']').val(data[i].RCC);
								$('[name=CMC_'+data[i].eacode+data[i].hcn+data[i].shsn+data[i].MEMBER_CODE+data[i].RECDAY+'_'+data[i].LINENO+']').val(data[i].CMC);
								$('[name=SUPCODE_'+data[i].eacode+data[i].hcn+data[i].shsn+data[i].MEMBER_CODE+data[i].RECDAY+'_'+data[i].LINENO+']').val(data[i].SUPCODE);
								$('[name=SRCCODE_'+data[i].eacode+data[i].hcn+data[i].shsn+data[i].MEMBER_CODE+data[i].RECDAY+'_'+data[i].LINENO+']').val(data[i].SRCCODE);
								$('[name=CPC_'+data[i].eacode+data[i].hcn+data[i].shsn+data[i].MEMBER_CODE+data[i].RECDAY+'_'+data[i].LINENO+']').val(data[i].CPC);
								}
		
							}
							
							
		});
		
		
		$.ajax({
                type: 'POST',
                //dataType: 'json',
                data: JSON.stringify(data),
                    contentType: 'application/json',
                            url: '/statusfoodrecall',						
                            success: function(data) {

							$('#refday').val(data[0].refday);
							$('#monthref').val(data[0].monthref);
							$('#dayref').val(data[0].dayref);
							$('#yearref').val(data[0].yearref);
							$('#status').val(data[0].status);
		
							}
							
							
		});
		
		var age = '<%= rows2[0].AGE%>';
	
		if(age <= 3) {
		$('#title').text('Form 7.1 - Food Recall 0-36 months');
		}
		else {
		$('#title').text('Form 7.2 - Food Recall ≥ 37 months');
		}
	


	  $(document).on('keyup', 'input[type=text]', function() {
		
		var data = {};
		data.fic = $(this).val();

		$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/fic_foodrecordget',						
                        success: function(data) { 
						
						var dat = [];
						for(i=0;i<data.length;i++) {
						dat.push(data[i].foodcode+" - "+data[i].fooddesc);
						}

						$('.ficauto').autocomplete({
							source: dat
						});
						
						
                     }
                  });
	

	  });
	  

	  
	  
	  
	  
	  $(document).on('change', '.f60', function() {
		var data = {};
		data.name = $(this).attr('id');
		data.val = $(this).val();
		data.eacode = A;
		data.hcn = B;
		data.shsn = C;
		data.MEMBER_CODE = D;
		data.RECDAY = E;
	

		$.ajax({
                type: 'POST',
                //dataType: 'json',
                data: JSON.stringify(data),
                    contentType: 'application/json',
                            url: '/updatestatusfoodrecall',						
                            success: function(data) {
						
							}
	
		});
		});
		
	  $(document).on('keyup', '.f60', function() {
		var data = {};
		data.name = $(this).attr('id');
		data.val = $(this).val();
		data.eacode = A;
		data.hcn = B;
		data.shsn = C;
		data.MEMBER_CODE = D;
		data.RECDAY = E;

		$.ajax({
                type: 'POST',
                //dataType: 'json',
                data: JSON.stringify(data),
                    contentType: 'application/json',
                            url: '/updatestatusfoodrecall',						
                            success: function(data) {
							}
	
		});
		});
		
	  
	     $(document).on('click', '#savefoodrecall', function() {
		var data = {};
		data.eacode = A;
		data.hcn = B;
		data.shsn = C;
		data.MEMBER_CODE = D;
		data.RECDAY = E;
		data.LINENO = $('#LINENO_').val();
		data.FIC = $('#FIC_').val();
		data.FOODITEM = $('#FOODITEM_').val();
		data.FOODDESC = $('#FOODDESC_').val();
		data.FOODBRND = $('#FOODBRND_').val();
		data.FVS = $('#FVS_').val();
		data.ISFORTIFIED = $('#ISFORTIFIED_').val();
		data.VITA = $('#VITA_').val();
		data.IRON = $('#IRON_').val();
		data.OTHF = $('#OTHF_').val();
		data.FOODMAINING = $('#FOODMAINING_').val();
		data.FOODBRNDCD = $('#FOODBRNDCD_').val();
		data.AMTSIZEMEAS = $('#AMTSIZEMEAS_').val();
		data.MEALCD = $('#MEALCD_').val();
		data.RFCODE = $('#RFCODE_').val();
		data.FOODCODE = $('#FOODCODE_').val();
		data.FOODEX = $('#FOODEX_').val();
		data.FOODWEIGHT = $('#FOODWEIGHT_').val();
		data.RCC = $('#RCC_').val();
		data.CMC = $('#CMC_').val();
		data.SUPCODE = $('#SUPCODE_').val();
		data.SRCCODE = $('#SRCCODE_').val();
		data.OTH_SRC = $('#OTH_SRC_').val();
		data.CPC = $('#CPC_').val();
		data.UNITCOST = $('#UNITCOST_').val();
		data.UNITWGT = $('#UNITWGT_').val();
		data.UNITMEAS = $('#UNITMEAS_').val();
		data.CLEAN = $('#CLEAN_').val();
		<!-- data.FOODITEM = $('#FOODITEM_').val(); -->
		data.DATE_EDIT = $('#DATE_EDIT_').val();

		
		
		if(data.LINENO.length < 2) {
		alert('Line number must be two characters\nexample: 05, 19, 18');
		}
		else {
		$.ajax({
                type: 'POST',
                //dataType: 'json',
                data: JSON.stringify(data),
                    contentType: 'application/json',
                            url: '/insertfoodrecall',						
                            success: function(data) {
							
							if(data == 'err') {
							alert('same line #, pls check');
							return false;
							<!-- window.location.href = '/foodrecall/'+A+B+C; -->
							}
							else {
							 window.location.href = '/foodrecall/'+A+B+C+D+'/'+E;
							}
							
							}
	
		});
		}
		 
		});
		
	$('input, button, select').keyup(function (e) {
		if (e.shiftKey) {
				if (e.which == 39)
					$(this).closest('td').next().find('input, button, select').focus();
				else if (e.which == 37)
					$(this).closest('td').prev().find('input, button, select').focus();
				else if (e.which == 40)
					$(this).closest('tr').next().find('td:eq(' + $(this).closest('td').index() + ')').find('input, button, select').focus();
				else if (e.which == 38)
					$(this).closest('tr').prev().find('td:eq(' + $(this).closest('td').index() + ')').find('input, button, select').focus();
			}
    });
		
	});
	
	var url = window.location.href;
    var urlArray = url.split("/");
    var bigIdString = urlArray[urlArray.length-2];
	var recday = urlArray[urlArray.length-1];
    var A = bigIdString.substring(0,12);
    var B = bigIdString.substring(12,16);
    var C = bigIdString.substring(16,20);

	
	function households() {
		
	window.location.href = '/dietaryhh/'+A;
		
	}
	
	function members() {
	
	window.location.href = '/members/'+A+B+C;
	
	}

	function update(addon) {

		var data = {};
		data.eacode = addon.substring(0,12);
		data.hcn = addon.substring(12,16);
		data.shsn = addon.substring(16,20);
		data.MEMBER_CODE = addon.substring(20,22);
		data.RECDAY = addon.substring(22,23);	
		
		var A = addon.substring(0,12);
		var B = addon.substring(12,16);
		var C = addon.substring(16,20);
		var D = addon.substring(20,22);
		var E = addon.substring(22,23);

		data.id = $('#id_'+addon).val()
		data.LINENO = $('#LINENO_'+addon).val()
		data.FIC = $('#FIC_'+addon).val()
		data.FOODITEM = $('#FOODITEM_'+addon).val()
		data.FOODDESC = $('#FOODDESC_'+addon).val()
		data.FOODBRND = $('#FOODBRND_'+addon).val()
		data.FVS = $('#FVS_'+addon).val()
		data.ISFORTIFIED = $('#ISFORTIFIED_'+addon).val()
		data.VITA = $('#VITA_'+addon).val()
		data.IRON = $('#IRON_'+addon).val()
		data.OTHF = $('#OTHF_'+addon).val()
		data.FOODMAINING = $('#FOODMAINING_'+addon).val()
		data.FOODBRNDCD = $('#FOODBRNDCD_'+addon).val()
		data.AMTSIZEMEAS = $('#AMTSIZEMEAS_'+addon).val()
		data.MEALCD = $('#MEALCD_'+addon).val()
		data.RFCODE = $('#RFCODE_'+addon).val()
		data.FOODCODE = $('#FOODCODE_'+addon).val()
		data.FOODEX = $('#FOODEX_'+addon).val()
		data.FOODWEIGHT = $('#FOODWEIGHT_'+addon).val()
		data.RCC = $('#RCC_'+addon).val()
		data.CMC = $('#CMC_'+addon).val()
		data.SUPCODE = $('#SUPCODE_'+addon).val()
		data.SRCCODE = $('#SRCCODE_'+addon).val()
		data.OTH_SRC = $('#OTH_SRC_'+addon).val()
		data.CPC = $('#CPC_'+addon).val()
		data.UNITCOST = $('#UNITCOST_'+addon).val()
		data.UNITWGT = $('#UNITWGT_'+addon).val()
		data.UNITMEAS = $('#UNITMEAS_'+addon).val()
		data.CLEAN = $('#CLEAN_'+addon).val()
		<!-- data.FOODITEM = $('#FOODITEM_'+addon).val() -->
		data.DATE_EDIT = $('#DATE_EDIT_'+addon).val()
	   
		$.ajax({
                type: 'POST',
                //dataType: 'json',
                data: JSON.stringify(data),
                    contentType: 'application/json',
                            url: '/updatefoodrecall',						
                            success: function(data) {
						
							if(data == 'err') {
							alert('same line #, pls check');
							window.location.href = '/foodrecall/'+A+B+C+D+'/'+E;
							}
							}
	
		});
		
		  window.location.href = '/foodrecall/'+data.eacode+data.hcn+data.shsn+data.MEMBER_CODE+'/'+data.RECDAY;
		};
		
		$('.grpTextBox').focus(function() {
        $(this).closest('tr').addClass('highlight_row');
			});
			$('.grpTextBox').blur(function() {
				$(this).closest('tr').removeClass('highlight_row');
		});
	
	</script>

  </body>
</html>
